{{- include "ffc-helm-library.container-config-map" (list . "ffc-ahwr-message-generator.config-map") -}}
{{- define "ffc-ahwr-message-generator.config-map" -}}
data:
  NODE_ENV: {{ .Values.environment | quote }}
  PORT: {{ .Values.container.port | quote }}
  APPINSIGHTS_CLOUDROLE: {{ .Chart.Name | quote }}
  APPLICATION_API_URI: {{ quote .Values.container.applicationApiUri }}
  EVIDENCE_CARBON_COPY_EMAIL_ADDRESS: {{ quote .Values.container.evidenceCarbonCopyEmailAddress }}
  CARBON_COPY_EMAIL_ADDRESS: {{ quote .Values.container.carbonCopyEmailAddress }}
  EVIDENCE_EMAIL_ENABLED: {{ quote .Values.container.evidenceEmailEnabled }}
  EVIDENCE_REVIEW_TEMPLATE_ID: {{ quote .Values.container.evidenceReviewTemplateId }}
  EMAIL_REPLY_TO_ID: {{ quote .Values.container.emailReplyToId }}
  NO_REPLY_EMAIL_REPLY_TO_ID: {{ quote .Values.container.sfdEmailReplyToId }}
  EVIDENCE_FOLLOW_UP_TEMPLATE_ID: {{ quote .Values.container.evidenceFollowUpTemplateId }}
  REVIEW_COMPLETE_TEMPLATE_ID: {{ quote .Values.container.reviewCompleteTemplateId }}
  FOLLOW_UP_COMPLETE_TEMPLATE_ID: {{ quote .Values.container.followupCompleteTemplateId }}
  MESSAGE_QUEUE_HOST: {{ quote .Values.container.messageQueueHost }}
  MESSAGE_GENERATOR_QUEUE_ADDRESS: {{ quote .Values.container.messageGeneratorQueueAddress }}
  SFD_MESSAGE_QUEUE_ADDRESS: {{ quote .Values.container.sfdMessageQueueAddress }}
  POSTGRES_DB: {{ quote .Values.postgresService.postgresDb }}
  POSTGRES_HOST: {{ quote .Values.postgresService.postgresqlHost }}
  POSTGRES_PORT: {{ quote .Values.postgresService.postgresPort }}
  POSTGRES_SCHEMA_NAME: {{ quote .Values.postgresService.postgresSchema }}
  REMINDER_EMAIL_ENABLED: {{ quote .Values.container.reminderEmailEnabled }}
  REMINDER_EMAIL_NOT_CLAIMED: {{ quote .Values.container.reminderEmailNotClaimedTemplateId }}
{{- end -}}
